
*,
*::before,
*::after {
  box-sizing: border-box;
}


h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  color: var(--bs-heading-color, inherit);
}

h1, .h1 {
  font-size: calc(1.375rem + 1.5vw);
}


h2, .h2 {
  font-size: calc(1.325rem + 0.9vw);
}




h4, .h4 {
  font-size: calc(1.275rem + 0.3vw);
}




h6, .h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  padding: 0;
}



ol,
ul {
  padding-left: 2rem;
}

ol,
ul,
dl {
  margin-top: 0;
}



a {
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
  text-decoration: underline;
}

img,
svg {
  vertical-align: middle;
}



.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  --bs-gutter-y: 0;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1400px){
.container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px;
}}


.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

@media (min-width: 576px) {
  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }

  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }

  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }

  .col-sm-12 {
    flex: 1;
    width: 100%;
  }

  

 
}

@media (min-width: 992px){
.col-lg-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
}}

@media (min-width: 992px){
.col-lg-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
}}

@media (min-width: 992px){
.col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
}}

@media (min-width: 992px){
.col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
}}
@media (min-width: 768px){
.col-md-6 {
    flex: 0 0 auto;
    width: 50%;
}}




/* ------------------------------------------------------------- *
 * ABOUT INFO
/* ------------------------------------------------------------- */

#picinfo{
  display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;}

.flex-v-align {
  vertical-align: middle;
  width: 100%;
  min-height: 100%;
  align-items: center;
  display: flex;
  display: -ms-flexbox;
  -ms-flex-pack: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  margin: 0;
}
.home-content {
  padding-inline: 15%;
  padding-top: 12%;
  padding-bottom: 6%;
}

.home-text {
  text-align: left;
}



.home-text h1 {
  font-size: 48px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: white;
  padding-top: 0;
  padding-bottom: 20px;
}

#mobile-break{
  display: none;
}

.home-text h1 span{
 color:  rgba(127,90,240,1);
  
}



.home-text p {
  font-size: 15px;
  font-family: 'Sora', sans-serif;
  font-weight: 300;
  color:#94a1b2;
  text-align: justify;
  line-height: 1.8;
  padding-right: 150px;
}

.home-text h4 {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  font-family: 'Montserrat',sans-serif;
  font-weight: 500;
  padding-bottom: 10px;
}

.home-photo {
  display: block;
  position: relative;
  max-width: 60%;
  padding-bottom: calc(80% - 10px);
  overflow: hidden;
  border: 10px solid rgba(36, 36, 36, 0.329);
  border-radius: 5px;
  -moz-background-clip: border-box;     /* Firefox 3.6 */
  -webkit-background-clip: border-box;  /* Safari 4? Chrome 6? */
  background-clip: border-box; 
  left: 20%;
  
}


.home-photo .hp-inner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  display: block;
  position: absolute;
  top: -18px;
  bottom: -18px;
  width: auto;
  left: -18px;
  right: -18px;
  
}



@media only screen and (max-width: 1100px) {
  .home-content {
    padding-inline: 10%;
    padding-top: 20%;
    padding-bottom: 20%;
  }

  #mobile-break{
    display: block;
  }

  .home-photo{
    padding-bottom: 300px;
    max-width: 80%;
    left: 0;}
  

  .home-text p{
    padding-right: 10px;
  }}




@media only screen and (max-width: 768px) {
  
  .home-content {
    padding-bottom: 10%;
}
  .home-text{
    padding-top: 10%;
  }


  .home-buttons {
      text-align: center;
      margin-top: 35px;
  }

  .home-text p{
    padding-right: 0;
    margin-bottom: 60px;
  }
}



@media only screen and (max-width: 500px) {
  
  .home-content {
    padding-top: 40%;
}
  .home-photo{
    padding-bottom: 345px;
    padding-inline: 120px;
    left: 0;
}

.home-text{
  padding-top: 25%;
}
  .home-text h1 {
      font-size: 35px;
      
  }


  .home-text h4 {
      font-size: 14px;
  }

.home-buttons{
  display: flex;
  justify-content: center;
}
}

@media (max-width:375px) {.home-text h1{
  font-size: 28px;
}
  
}

  .scroll-down-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
  }

  @media (max-width: 768px) {
    .scroll-down-container{
      display: none;
    }
    
  }
  
  .mouse-field {
    display: flex;
    align-items: center;
    
  }
  
  .mouse-about {
    width: 26px;
    height: 46px;
    border: 2px solid #ffffff;
    border-radius: 60px;
    position: relative;}
    .wheel{
      content: '';
      width: 6px;
      height: 6px;
      position: absolute;
      top: 10px;
      left: 50%;
      transform: translateX(-50%);
      background-color: white;
      border-radius: 50%;
      opacity: 1;
      animation: wheel 2s infinite;
      -webkit-animation: wheel 2s infinite;
    }
  

  @keyframes wheel {
    to {
      opacity: 0;
      top: 40px;
    }
  }
  
  @-webkit-keyframes wheel {
    to {
      opacity: 0;
      top: 40px;
    }
  }
  
.hr-resume{
  position: relative;
  top: -25px;
  width: 100%;
  border-radius: 50%;
  opacity: 0.10;}


.portfolio-section{
position: relative;
padding-top: 7em;
padding-bottom: 7em;
}

@media only screen and (max-width: 768px){
  .portfolio-section{
    padding-top: 5em;
  }
}


.portfolio-wrap{
max-width: 1282px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.portfolio-nav{
  text-align: center;
  position: relative;
}

@media (min-width: 1025px){
.portfolio-nav.tt-pn-stroke .tt-pn-title {
    font-weight: bold;
    font-weight: 700;
    opacity: .8;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #FFF;
    -webkit-text-fill-color: transparent;
}}

#folio, #folio-hover{font-size: clamp(48px, 7vw, 90px);
letter-spacing: 2px;}
.tt-pn-subtitle {
	margin-top: 5px;
  font-family: 'Montserrat', sans-serif;
	font-size: calc(16px + 0.1vw);
  font-weight: 500;
	color: #FFF;
}

/* Page nav link */
.tt-pn-link {
	position: relative;
	display: inline-flex;
	max-width: 100%;
	text-decoration: none;
	overflow: hidden;
}

/* Page nav title */
.tt-pn-title,
.tt-pn-hover-title {
	display: block;
	left: 0;
	font-size: 40px;
	font-weight: bold;
	font-weight: 700;
	line-height: 1.4;
	transition: transform .5s cubic-bezier(0.51, 0.57, 0.17, 1);
}
.tt-pn-title {
	position: relative;
	color: #94a1b2;
	transform: translate3d(0, 0, 0);
}
@media (min-width: 1025px) {
	.tt-pn-title {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

@media (min-width: 360px) {
	.tt-pn-title, .tt-pn-hover-title {
    font-size: 15px;
	}
}

@media (min-width: 1025px) {
	.tt-pn-title, .tt-pn-hover-title {
    font-size: 40px;
	}
}
/* Page nav hover title */
.tt-pn-hover-title {
	position: absolute;
	max-width: 100%;
	background: linear-gradient(45deg, rgba(127,90,240,1), rgb(78, 2, 255));
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	white-space: nowrap;
	transform: translate3d(0, 100%, 0);

	/* Ellipsis */
	overflow: hidden;
	text-overflow: ellipsis;
}
@media (max-width: 1024px) {
	.tt-pn-hover-title {
		display: none;
	}
}

/* Page nav hover */
@media (min-width: 1025px) {
	.tt-pn-link:hover .tt-pn-title {
		transform: translate3d(0, -100%, 0);
		transition-delay: 0.1s;
	}
	.tt-pn-link:hover .tt-pn-hover-title {
		transform: translate3d(0, 0, 0);
		transition-delay: 0.1s;
    text-shadow: 2px -1px 8px rgba(130,4,248,0.3);
    
	}
}



/* Page nav styles 
=================== */
/* Style stroke (no effect on small screens) */
@media (min-width: 1025px) {
	.tt-page-nav.tt-pn-stroke .tt-pn-title {
		font-weight: bold;
		font-weight: 700;
		opacity: .8;
		-webkit-text-stroke-width: 0.6px;
		-webkit-text-stroke-color: #FFF;
		-webkit-text-fill-color: transparent;
	}

	/* If Firefox */
	body.is-firefox .tt-page-nav.tt-pn-stroke .tt-pn-title {
		-webkit-text-stroke-width: 0.8px;
	}
}

.home-buttons {
  margin-top: 37px;}
  
  


button {
	 --width: 250px;
	 --height: 50px;
	 border: 0;
	 position: relative;
	 min-width: var(--width);
	 min-height: var(--height);
	 border-radius: 15px;
	 background: linear-gradient(45deg, rgba(127,90,240,1), rgb(78, 2, 255));
	 cursor: pointer;
	 overflow: hidden;
	 display: flex;
	 justify-content: center;
	 align-items: center;
   
}
   

   @media (max-width:350px) {
    button{ --width: 230px;}
   }


 button .text, button .icon-container {
	 position: relative;
	 z-index: 2;
}

.text{
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  right: 5px;
  transition: all 500ms ease;
}

 button .icon-container {
	font-size: 20px;
	 position: relative;
	 margin-left: 15px;
   top: -12px;
	 transition: transform 500ms ease;
}
 button .icon-container .icon {
	 position: absolute;
	 left: 0;
	 top: 0;
	 width: var(--icon-size);
	 height: var(--icon-size);
	 transition: transform 500ms ease, opacity 250ms ease;
}
 button .icon-container .icon--left {
	 transform: translateX(-200%);
	 opacity: 0;
}
.fa-arrow-down{
	 width: 100%;
	 height: 100%;
	 color: #000000;
}
 button::after {
	 content: "";
	 position: absolute;
	 left: 0;
	 top: 0;
	 width: 100%;
	 height: 100%;  
	 background-color: #ffffff;
	 border-radius: 15px;
	 z-index: 1;
	 transition: transform 500ms ease;
   
}

@media (hover:hover) {
  
button:hover .text{
  right: 15px;
  color: white;
}

 button:hover::after {
	 transform: translateX(78%);

}
 button:hover .icon-container {
	 transform: translateX(125%);
}
 button:hover .icon-container .icon--left {
	 transform: translateX(145%);
	 opacity: 1;
}
 button:hover .icon-container .icon--right {
	 transform: translateX(200%);
	 opacity: 0;
}

}



