/* ------------------------------------------------------------- *
 * BODY & BG & SCROLL BAR & CURSOR
/* ------------------------------------------------------------- */

/* BODY */
html{scroll-behavior: smooth;}

body {
    font-family: "Sora", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    background-color: #17171a;
  }

  .bg {
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation .2s infinite;
    opacity: 0.7;
    visibility: visible;
  }

  @media (max-width: 768px) {
    .bg{display: none;}
  }
  
  @keyframes bg-animation {
      0% { transform: translate(0,0) }
      10% { transform: translate(-5%,-5%) }
      20% { transform: translate(-10%,5%) }
      30% { transform: translate(5%,-10%) }
      40% { transform: translate(-5%,15%) }
      50% { transform: translate(-10%,5%) }
      60% { transform: translate(15%,0) }
      70% { transform: translate(0,10%) }
      80% { transform: translate(-15%,0) }
      90% { transform: translate(10%,5%) }
      100% { transform: translate(5%,0) }
  }

 /*SCROLL BAR*/
 ::-webkit-scrollbar {
  display: none;
  width: 5px;
  background: #131313;
}
@media only screen and (min-width: 768px) {
  ::-webkit-scrollbar {
    display: block;
  }
}

::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color:#131313;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, rgba(127,90,240,1), rgb(78, 2, 255));
  border-radius: 10px;
  transition: opacity 0.2s ease-in-out;
}

/* 13. cursor */
.cursor {
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transform: rotate(0deg) scale(0.4);
       -moz-transform: rotate(0deg) scale(0.4);
        -ms-transform: rotate(0deg) scale(0.4);
         -o-transform: rotate(0deg) scale(0.4);
            transform: rotate(0deg) scale(0.4);
    -webkit-transition: transform 0.15s ease, opacity 0.15s ease;
       -moz-transition: transform 0.15s ease, opacity 0.15s ease;
         -o-transition: transform 0.15s ease, opacity 0.15s ease;
            transition: transform 0.15s ease, opacity 0.15s ease;
    -webkit-pointer-events: none;
       -moz-pointer-events: none;
            pointer-events: none;	
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
        -ms-border-radius: 50%;
         -o-border-radius: 50%;
            border-radius: 50%;
    /* border: 4px solid #ff264a; */
    border: 4px solid #fff;
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    z-index: 99998!important;
    }
    
    @media (pointer: coarse) {
      .cursor {
        display: none;
      }
    }
 
    .cursor.bounce {
    -webkit-transform: rotate(0deg) scale(0.6);
       -moz-transform: rotate(0deg) scale(0.6);
        -ms-transform: rotate(0deg) scale(0.6);
         -o-transform: rotate(0deg) scale(0.6);
            transform: rotate(0deg) scale(0.6);
    -webkit-transition-delay: 0s;
       -moz-transition-delay: 0s;
        -ms-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s;
    border: 3px solid rgba(127,90,240,1);
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    }
    
    
    .hide {display: none !important;}
  
  /* ------------------------------------------------------------- *
   * END OF BODY & BG & SCROLL BAR & CURSOR
  /* ------------------------------------------------------------- */
  
  /* ------------------------------------------------------------- *
   * PAGE TRANSITIONS
  /* ------------------------------------------------------------- */
  
  #page-transition {
      display: none;
  }
  body.tt-transition #page-transition {
      position: fixed;
      display: block;
      z-index: 99999;
  }
  
  /* Transition overlay */
  body.tt-transition .ptr-overlay {
      position: fixed;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: #0a0a0a;
      z-index: 1;
  }
  
  /* Transition preloader */
  body.tt-transition .ptr-preloader {
      position: fixed;
      top: 50%;
      left: 50%;
      z-index: 2;
      transform: translate(-50%, -50%);
  }
  
 
  
  .ptr-prel-image {
      max-height: 100px; /* You may need to change the img height to match your logo type! */
      opacity: 90%; /* You may need to change the opacity as well! */}


  /* ------------------------------------------------------------- *
   * END OF PAGE TRANSITIONS
  /* ------------------------------------------------------------- */
  
  /* ------------------------------------------------------------- *
   * HEADER
  /* ------------------------------------------------------------- */
  #tt-header {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      color: #fff;
      z-index: 999;
      pointer-events: none;
    transition: top 0.3s ease-in-out; /* Transition effect when sliding down (and up) */
  }
  
  /* header position fixed */
  #tt-header.tt-header-fixed {
      position: fixed; 
  }
  
  /* header inner */
  .tt-header-inner {
      width: 100%;
      display: flex;
      padding-top: 40px;
      align-items: center;
  }
  @media (max-width: 1024px) {
      .tt-header-inner {
          padding-top: 20px;
      }
  }
  
  
  /* header columns */
  .tt-header-col {
      display: flex;
      align-items: center;
  }
  .tt-header-col:first-child {
      margin-right: auto;
  }
  
  
  /* Header logo 
  =============== */
  .tt-logo {
      position: absolute;
      margin-right: auto;
      line-height: 1;
      pointer-events: initial;
      z-index: 9;
    margin-left: 50px;
    
  }
  
  @media  (min-width:600px) and (max-width:768px) {.tt-logo{ margin-left: 30px;}}
  @media  (min-width:320px) and (max-width:600px) {.tt-logo{ margin-left: 20px;}}
  
  .tt-logo img {
      max-height: 90px; /* You may need to change the img height to match your logo type! */
    filter: drop-shadow(3px 0px 3px rgba(0,0,0,0.35));
    transition: all 0.3s ease-in-out;
  }
  
  @media (hover: hover) and (pointer: fine){
  .tt-logo img:hover{
    transform: scale(1.1);
  }}
  
  
  
  /* Logo for small screens */
  @media (max-width: 1024px) {
      .tt-logo {
          top: 10px;
      }
      .tt-logo img {
          max-height: 80px; /* You may need to change the img height to match your logo type! */
      }
  }
  
  /* Overlay menu toggle button 
  ============================== */
  #tt-ol-menu-toggle-btn-wrap {
      position: relative;
      display: flex;
      align-items: center;
      pointer-events: initial;
      cursor: pointer;
      z-index: 9;
    margin-right: 50px;
  }
  
  @media  (min-width:600px) and (max-width:768px) {#tt-ol-menu-toggle-btn-wrap{ margin-right: 20px;}}
  @media  (min-width:320px) and (max-width:600px) {#tt-ol-menu-toggle-btn-wrap{ margin-right: 10px;}}
  
  .tt-ol-menu-toggle-btn-holder {
      float: left;
  }
  
  /* Toggle button */

  .tt-ol-menu-toggle-btn {
      position: relative;
      display: block;
      width: 50px;
      height: 50px;
  }

  .tt-ol-menu-toggle-btn span {
      position: absolute;
      display: block;
      top: 54%;
      left: 50%;
      height: 2px;
      width: 20px;
      background-color: transparent;
      transform: translate(-50%, -50%);
      transition: all 0.2s ease-in-out;
  }

  .tt-ol-menu-toggle-btn span::before,
  .tt-ol-menu-toggle-btn span::after {
      position: absolute;
      display: block;
      content: '';
      height: 2px;
      background-color: #FFF;
      transition: all 0.2s ease-in-out;
  }
  .tt-ol-menu-toggle-btn span::before {
      top: -4px;
      width: 20px;
  }
  .tt-ol-menu-toggle-btn span::after {
      top: auto;
      bottom: -4px;
      width: 14px;
  }
  
  /* Toggle button hover */
  @media (hover: hover) and (pointer: fine){
  body:not(.is-mobile):not(.tt-ol-menu-open) .tt-ol-menu-toggle-btn:hover span {
      height: 6px;
      width: 6px;
      background-color: #FFF;
      border-radius: 50px;
  }
  body:not(.is-mobile):not(.tt-ol-menu-open) .tt-ol-menu-toggle-btn:hover span::before {
      top: 0;
      width: 0;
  }
  body:not(.is-mobile):not(.tt-ol-menu-open) .tt-ol-menu-toggle-btn:hover span::after {
      bottom: 0;
      width: 0;
  }}
  
  /* Toggle button text */
  .tt-ol-menu-toggle-btn-text-wrap {
      height: 50px;
      display: flex;
      align-items: center;
      padding-top: 2px;
      padding-right: 5px;
  }
  .tt-ol-menu-toggle-btn-text {
      float: left;
      overflow: hidden;
      text-align: right;
      font-size: 20px;
    font-family: 'Sora', sans-serif;
    font-weight: 400;
      color: #FFF;
    text-shadow: 4px 0px 4px rgba(0,0,0,0.35);
  }
  
  /* Toggle button text hover */
  @media (hover: hover) and (pointer: fine){
  .tt-ol-menu-toggle-btn-text .text-menu {
      position: relative;
      display: inline-block;
      text-align: right;
      transition: transform 0.3s;
  }
  body.tt-ol-menu-open .tt-ol-menu-toggle-btn-text .text-menu {
      display: none;
  }
  
  body:not(.is-mobile) .tt-ol-menu-toggle-btn-text .text-menu::before {
      position: absolute;
      top: 100%;
      right: 0;
      content: attr(data-hover);
  }
  body:not(.is-mobile) #tt-ol-menu-toggle-btn-wrap:hover .tt-ol-menu-toggle-btn-text .text-menu {
      transform: translate3d(0, -100%, 0);
  }}
  
  /* Toggle button close */
  body.tt-ol-menu-open .tt-ol-menu-toggle-btn span {
      width: 20px;
      background-color: transparent;
  }
  body.tt-ol-menu-open .tt-ol-menu-toggle-btn span::before {
      top: 0;
      width: 20px;
      transform: rotate(45deg);
  }
  body.tt-ol-menu-open .tt-ol-menu-toggle-btn span::after {
      bottom: 0;
      width: 20px;
      transform: rotate(-45deg);
  }
  
  .tt-ol-menu-toggle-btn-text .text-close {
      display: none;
  }
  body.tt-ol-menu-open .tt-ol-menu-toggle-btn-text .text-close {
      display: block;
  }

  @media(min-width:320px) and (max-width: 768px){body.tt-ol-menu-open .tt-ol-menu-toggle-btn-text .text-close{display: none;}}
  
  /* Disable menu toggle button click until the animations last */
  body.olm-toggle-no-click .tt-ol-menu-toggle-btn-text,
  body.olm-toggle-no-click .tt-ol-menu-toggle-btn {
      pointer-events: none;
  }

  
  /* ------------------------------------------------------------- *
   * END OF HEADER
  /* ------------------------------------------------------------- */
  
  /* ------------------------------------------------------------- *
   * OVERLAY MENU
  /* ------------------------------------------------------------- */
  
  /* Overlay menu 
  ================ */
  .tt-overlay-menu {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: #0a0a0a;
      visibility: hidden;
      opacity: 0;
      pointer-events: initial;
  }
  
  
  
  
  .tt-ol-menu-holder {
      position: relative;
      height: 100%;
      width: calc(100% + 17px);
      padding-right: 17px;
      overflow-y: scroll;
      z-index: 2;
  }
  .tt-ol-menu-inner {
      display: table;
      width: 100%;
      height: 100%;
      padding-left: 0;
      padding-right: 0;
  }
  .tt-ol-menu-content {
      position: relative;
      display: table-cell;
      vertical-align: middle;
      height: 100%;
      padding: 120px 140px 120px 25%;
  }
  @media (max-width: 965px){
  .tt-ol-menu-content {
      padding: 120px 140px 120px 15%;
  }}
  
  @media (max-width: 767px) {
      .tt-ol-menu-content {
          padding-top: 40%;
          padding-bottom: 35%;
          padding-left: 15px;
          padding-right: 15px;
      }
  }
  
  /* Disable page scroll if overlay menu is open */
  body:not(.tt-smooth-scroll).tt-ol-menu-open {
      overflow-y: hidden;
  }
  
  /* Hide smooth scrollbar if overlay menu is open */
  body.tt-smooth-scroll.tt-ol-menu-open .scrollbar-track {
      display: none !important;
  }
  
  /* Overlay menu list */
  .tt-ol-menu-list {
      display: inline-block;
      margin: 0;
      padding: 0;
      list-style: none;
  }
  .tt-ol-menu-list > li {
      position: relative;
      margin-top: 10px;
      margin-bottom: 10px;
  }
  @media (max-width: 767px) {
      .tt-ol-menu-list > li {
          margin-top: 15px;
          margin-bottom: 15px;
          margin-right: 0;
      }
  }
  
  .tt-ol-menu-list > li:last-child {
      margin-bottom: 0;
  }
  
  /* Overlay menu list links (master parent) */
  
  
  .tt-ol-menu-list {
      position: relative;
      display: inline-block;
      font-size: clamp(34px, 4vw, 68px);
    font-family: 'Sora', sans-serif;
      font-weight: 600;
      line-height: 1.2;
    
  }
  
  @media (min-width:768px) and( max-width:992px) {
    
  }
  .tt-ol-menu-list > li > a,
  .tt-ol-menu-list > li > .tt-ol-submenu-trigger > a {
    
    background-image: linear-gradient(45deg,rgba(127,90,240,1), rgb(78, 2, 255) 50%, #94a1b2 50%);
    -moz-background-size: 300% 100%;
         background-size: 300% 100%;
    background-position: -69%;
    position: relative;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
  
  }
  
  /* Overlay menu list hover/active (master parent). */
  @media (hover: hover) and (pointer: fine){
  .tt-ol-menu-list > li.active > a,
  .tt-ol-menu-list > li.active > .tt-ol-submenu-trigger > a,
  body:not(.is-mobile) .tt-ol-menu-list > li > a:hover,
  body:not(.is-mobile) .tt-ol-menu-list > li > .tt-ol-submenu-trigger:hover > a,
  .tt-ol-menu-list > li > .tt-ol-submenu-trigger.tt-ol-submenu-open > a {
    background-position: 0;}}
  
  /* Overlay menu social links 
  ============================= */
  .tt-ol-menu-social {
      margin: 0;
      padding: 0;
      list-style: none;
      text-align: right;
      right: calc(50% - 480px);
      z-index: 9991;
      visibility: hidden;
      opacity: 0;
    line-height: 1.7;
  }
  
  @media (max-width: 992px) {
      .tt-ol-menu-social {
          right: 20%;
      }
  }
  @media (min-width: 768px) {
      .tt-ol-menu-social {
          position: fixed;
      right: 25%;
          top: 50%;
          transform: translateY(-65%);
      }
  }
  @media (max-width: 767px) {
      .tt-ol-menu-social {
          text-align: left;
      }
  }
  .tt-ol-menu-social > li {
      padding: 3px 0;
  }
  .tt-ol-menu-social > li > a {
      font-size: 19px;
    font-family: 'Sora', sans-serif;
      font-weight: 400;
      background-image: linear-gradient(45deg,rgba(127,90,240,1), rgb(78, 2, 255) 50%, #94a1b2 50%);
    -moz-background-size: 300% 100%;
         background-size: 300% 100%;
    background-position: -69%;
    position: relative;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
  }
  @media (hover: hover) and (pointer: fine){
    .tt-ol-menu-social > li > a:hover, 
    .tt-ol-menu-social > li > a:focus {
        background-position: 0;
      text-shadow: 2px -1px 8px rgba(130,4,248,0.4);
    }}
  
  .tt-ol-menu-social-heading {
      margin-bottom: 15px;
      font-size: 24px;
    font-family: 'Sora', sans-serif;
      font-weight: 600;
      color: #EEE;
  }
  
  /* ------------------------------------------------------------- *
   * END OF OVERLAY MENU
  /* ------------------------------------------------------------- */
  
  /* ------------------------------------------------------------- *
   * FOOTER
  /* ------------------------------------------------------------- */
  
  #tt-footer {
      position: relative;
      width: 100%;
    font-family: 'Sora', sans-serif;
    font-weight: 300;
      font-size: 14px;
      z-index: 2;
  }
  
  .tt-footer-inner {
      position: relative;
  }
  
  
  #tt-footer a {
      font-size: 15px;
      color: #FFF;
  }
  
  #tt-footer .tt-btn {
      margin-top: 3px;
      margin-bottom: 3px;
  }
  
  /* Footer copyright */
  #tt-footer .tt-copyright {
    visibility: hidden;
      
  }
  
  
  @media (max-width: 995px) {
      #tt-footer .tt-copyright {
          visibility: visible;
      color: #ffffff;
      background-color:#111113;
      padding: 20px;
      }
  }
  
  /* For desktop only 
  ==================== */
  @media (min-width: 1025px) {
      #tt-footer {
          padding: 30px 0;
      }
      #tt-footer.footer-absolute {
          position: relative;
          left: 0;
      bottom: auto;
          padding: 0;
          pointer-events: none;
      }
    #tt-footer.footer-absolute-works {
          position: relative;
          left: 0;
      bottom: 30px;
          padding: 0;
          pointer-events: none;
      }
      #tt-footer.footer-absolute a {
          pointer-events: initial;
      }
    #tt-footer.footer-absolute-works a {
          pointer-events: initial;
      }
  
      .tt-footer-inner {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
      }
  
      /* Footer columns */
      .footer-col {
          flex: 1;
          padding: 0 15px;
          margin: 0 5px;
      }
      .footer-col:first-child {
          margin-left: 40px;
          padding-left: 40px;
      }
      .footer-col:last-child {
          margin-right: 50px;
          padding-right: 50px;
      }
  
  
      /* Align footer column content */
      .footer-col.tt-align-top-center {
          display: flex;
          justify-content: center;
      }
      .footer-col.tt-align-top-right {
          display: flex;
          justify-content: flex-end;
      }
  
      .footer-col.tt-align-center-left {
          display: flex;
          align-items: center;
      }
      .footer-col.tt-align-center {
          display: flex;
          align-items: center;
          justify-content: center;
      }
      .footer-col.tt-align-center-right {
          display: flex;
          align-items: center;
          justify-content: flex-end;
      }
  
      .footer-col.tt-align-bottom {
          display: flex;
          align-items: flex-end;
      }
      .footer-col.tt-align-bottom-center {
          display: flex;
          align-items: flex-end;
          justify-content: center;
      }
      .footer-col.tt-align-bottom-right {
          display: flex;
          align-items: flex-end;
          justify-content: flex-end;
      }
  
      /* Footer social */
      #tt-footer .footer-social {
          position: relative;
          line-height: 50px;
          height: 50px;
          pointer-events: auto;
          color: #FFF;
      }
      #tt-footer .footer-social:before { /* expands the hover area */
          position: absolute;
          content: "";
          top: 0;
          bottom: -30px;
          left: 0;
          right: 0;
          z-index: -1;
      }
      #tt-footer .footer-social .footer-social-text {
          display: block;
          text-align: right;
          font-size: 15px;
          cursor: pointer;
          opacity: 1;
          visibility: visible;
      }
      #tt-footer .footer-social .footer-social-text > span {
          margin-right: 13px;
      }
      #tt-footer .footer-social .social-buttons {
          opacity: 0;
          visibility: hidden;
          transform: translate3d(0, -50%, 0);
      }
      #tt-footer .footer-social .footer-social-text,
      #tt-footer .footer-social .social-buttons {
          transition: all 0.3s ease;
      }
  
      #tt-footer .footer-social:hover .footer-social-text {
          transform: translate3d(0, -50%, 0);
          opacity: 0;
          visibility: hidden;
      }
      #tt-footer .footer-social:hover .social-buttons {
          transform: translateY(-100%);
          opacity: 1;
          visibility: visible;
      }
  }
  
  /* For smaller screens only 
  ============================ */
  @media (max-width: 1024px) {

      .tt-footer-inner {
          display: flex;
          flex-direction: column;
      }
  
      /* Footer columns */
      .footer-col {
          text-align: center;
      }
  
    #contact-footer, #social-link-footer{
      display: none;
    }
  
  
      /* Order footer columns */
      .footer-col.order-m-first { order: -1; }
      .footer-col.order-m-last { order: 10; }
      .footer-col.order-m-1 { order: 1; }
      .footer-col.order-m-2 { order: 2; }
      .footer-col.order-m-3 { order: 3; }
      .footer-col.order-m-4 { order: 4; }
      .footer-col.order-m-5 { order: 5; }
      .footer-col.order-m-6 { order: 6; }
      .footer-col.order-m-7 { order: 7; }
      .footer-col.order-m-8 { order: 8; }
      .footer-col.order-m-9 { order: 9; }
      .footer-col.order-m-10 { order: 10; }
  
      /* Footer copyright */
      #tt-footer .tt-copyright .tt-btn-link {
          height: auto;
      }
  
      /* Footer social */
      #tt-footer .footer-social {
          margin-top: 10px;
          display: none;
      }
      #tt-footer .footer-social .footer-social-text {
          display: none;
      }
      #tt-footer .social-buttons > ul > li a {
          width: 34px;
          height: 34px;
      }
  }
      
  
     
  /* ------------------------------------------------------------- *
   * Social buttons
  /* ------------------------------------------------------------- */
  
  .social-buttons ul {
      display: inline-flex;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      list-style: none;
    
  }
  .social-buttons ul > li {
      display: flex;
      justify-content: center;
      align-items: center;
      float: left;
      margin: 0 2px;
    
  }
  @media (max-width: 991px) {
      .social-buttons ul > li {
          margin: 0px;
      }
  }
  .social-buttons ul > li:first-child {
      margin-left: 0;
  }
  .social-buttons ul > li:last-child {
      margin-right: 0;
  }
  
  .social-buttons > ul > li a {
      display: block;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 1;
      font-size: 15px;
      font-weight: 600;
      color: #eaeaea;
      transition: opacity 0.2s;
    outline: none;
    text-decoration: none;
  }
  
  body:not(.tt-magic-cursor) .social-buttons > ul:hover > li a {
      opacity: .5;
  }
  body:not(.tt-magic-cursor) .social-buttons > ul > li a:hover {
      opacity: 1;
  }
  
  
  /* Button link */
  .tt-btn-link {
      padding: 0;
      align-items: center;
      border-radius: 0;
  }
  .tt-btn-link > *,
  .tt-btn-link > *::after {
      padding: 0;
      line-height: 1.6;
      color: #FFF;
  }
  .tt-btn-link:hover > *,
  .tt-btn-link:hover > *::after {
      color: #FFF;
  }
      
  /* ------------------------------------------------------------- *
   * Buttons
  /* ------------------------------------------------------------- */
  
  button {
      background-color: transparent;
      cursor: pointer;
      border: none;
  }
  
  .tt-btn {
      position: relative;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      background-color: transparent;
      margin: 15px 15px 15px 0;
      padding: 0 30px;
      text-align: center;
      font-size: 16px;
      overflow: hidden;
      cursor: pointer;
      border: none;
      border-radius: 100px;
      z-index: 9;
    text-decoration: none;
  }
  .tt-btn:last-child {
      margin-right: 0;
  }
  .tt-btn > * {
      position: relative;
      color: #FFF;
      transition: transform 0.3s;
  }
  .tt-btn > *,
  .tt-btn > *::after {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      line-height: 1;
  }
  .tt-btn > *::after {
      position: absolute;
      content: attr(data-hover);
      top: 100%;
      width: 100%;
      left: 0;
      padding-left: 0;
      padding-right: 0;
  }
  .tt-btn:hover > *:not(.tt-btn-icon) {
      transform: translate3d(0, -100%, 0);
  }
  
  /* Button icon (works with "tt-btn-link" only!) */
  .tt-btn-icon {
      display: inline-flex;
  }
  .tt-btn-icon:first-child {
      margin-right: 10px;
  }
  .tt-btn-icon:last-child {
      margin-left: 10px;
  }
  
  /* ------------------------------------------------------------- *
   * END OF FOOTER
  /* ------------------------------------------------------------- */

