/* ------------------------------------------------------------- *
 * BODY & BG & SCROLL BAR
/* ------------------------------------------------------------- */

/* BODY */
body {
    font-family: "Sora", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    background-color: #0a0a0a;
    scroll-behavior: smooth;
  }

  /*SCROLL BAR*/
::-webkit-scrollbar {
    display: none;
    width: 5px;
    background: #171717;
  }
  @media only screen and (min-width: 768px) {
    ::-webkit-scrollbar {
      display: block;
    }
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 20px;
    background-color: #171717;
  }
  
  ::-webkit-scrollbar-thumb {
  
    background: linear-gradient(45deg, #8500ff, #ff232b, #a8eb12);
    border-radius: 10px;
  }
  
  /* ------------------------------------------------------------- *
   * END OF BODY & BG & SCROLL BAR
  /* ------------------------------------------------------------- */
  
  /* ------------------------------------------------------------- *
   * PAGE TRANSITIONS
  /* ------------------------------------------------------------- */
  
  #page-transition {
      display: none;
  }
  body.tt-transition #page-transition {
      position: relative;
      display: block;
      z-index: 99999;
  }
  
  /* Transition overlay */
  body.tt-transition .ptr-overlay {
      position: fixed;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: rgb(0, 0, 0);
      z-index: 1;
  }
  
  /* Transition preloader */
  body.tt-transition .ptr-preloader {
      position: fixed;
      top: 50%;
      left: 50%;
      z-index: 2;
      transform: translate(-50%, -50%);
  }
  
  body.tt-transition .ptr-prel-content {
      margin-top: 10px;
      text-align: center;
      font-size: 28px;
      font-weight: bold;
      font-weight: 600;
      color: #444;
  }
  
  .ptr-prel-image {
      max-height: 100px; /* You may need to change the img height to match your logo type! */
      opacity: 90%; /* You may need to change the opacity as well! */
    animation: fadeIn 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both !important;
  }
  
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
      -webkit-filter: blur(20px);
      filter: blur(20px);
    }
  
    to {
      opacity: 1;
      -webkit-filter: blur(0px);
      filter: blur(0px);
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      -webkit-filter: blur(20px);
      filter: blur(20px);
    }
  
    to {
      opacity: 1;
      -webkit-filter: blur(0px);
      filter: blur(0px);
    }
  }
  
  .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }
  
  /* ------------------------------------------------------------- *
   * END OF PAGE TRANSITIONS
  /* ------------------------------------------------------------- */
  
  /* ------------------------------------------------------------- *
   * HEADER
  /* ------------------------------------------------------------- */
  #tt-header {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      color: #fff;
      z-index: 999;
      pointer-events: none;
    transition: top 0.3s ease-in-out; /* Transition effect when sliding down (and up) */
  }
  
  /* header position fixed */
  #tt-header.tt-header-fixed {
      position: fixed; 
  }
  
  /* header inner */
  .tt-header-inner {
      width: 100%;
      display: flex;
      padding-top: 40px;
      align-items: center;
  }
  @media (max-width: 1024px) {
      .tt-header-inner {
          padding-top: 20px;
      }
  }
  
  
  /* header columns */
  .tt-header-col {
      display: flex;
      align-items: center;
  }
  .tt-header-col:first-child {
      margin-right: auto;
  }
  
  
  /* Header logo 
  =============== */
  .tt-logo {
      position: absolute;
      margin-right: auto;
      line-height: 1;
      pointer-events: initial;
      z-index: 9;
    margin-left: 50px;
    
  }
  
  @media  (min-width:600px) and (max-width:768px) {.tt-logo{ margin-left: 30px;}}
  @media  (min-width:320px) and (max-width:600px) {.tt-logo{ margin-left: 20px;}}
  
  .tt-logo img {
      max-height: 90px; /* You may need to change the img height to match your logo type! */
    filter: drop-shadow(3px 0px 3px rgba(0,0,0,0.35));
    transition: all 0.3s ease-in-out;
  }
  
  @media(hover:hover){
  .tt-logo img:hover{
    transform: scale(1.1);
  }}
  
  
  
  /* Logo for small screens */
  @media (max-width: 1024px) {
      .tt-logo {
          top: 10px;
      }
      .tt-logo img {
          max-height: 80px; /* You may need to change the img height to match your logo type! */
      }
  }
  
  /* Overlay menu toggle button 
  ============================== */
  #tt-ol-menu-toggle-btn-wrap {
      position: relative;
      display: flex;
      align-items: center;
      pointer-events: initial;
      cursor: pointer;
      z-index: 9;
    margin-right: 50px;
  }
  
  @media  (min-width:600px) and (max-width:768px) {#tt-ol-menu-toggle-btn-wrap{ margin-right: 20px;}}
  @media  (min-width:320px) and (max-width:600px) {#tt-ol-menu-toggle-btn-wrap{ margin-right: 10px;}}
  
  .tt-ol-menu-toggle-btn-holder {
      float: left;
  }
  
  /* Toggle button */

  .tt-ol-menu-toggle-btn {
      position: relative;
      display: block;
      width: 50px;
      height: 50px;
  }

  .tt-ol-menu-toggle-btn span {
      position: absolute;
      display: block;
      top: 54%;
      left: 50%;
      height: 2px;
      width: 20px;
      background-color: transparent;
      transform: translate(-50%, -50%);
      transition: all 0.2s ease-in-out;
  }

  .tt-ol-menu-toggle-btn span::before,
  .tt-ol-menu-toggle-btn span::after {
      position: absolute;
      display: block;
      content: '';
      height: 2px;
      background-color: #FFF;
      transition: all 0.2s ease-in-out;
  }
  .tt-ol-menu-toggle-btn span::before {
      top: -4px;
      width: 20px;
  }
  .tt-ol-menu-toggle-btn span::after {
      top: auto;
      bottom: -4px;
      width: 14px;
  }
  
  /* Toggle button hover */
  @media(hover:hover){
  body:not(.is-mobile):not(.tt-ol-menu-open) .tt-ol-menu-toggle-btn:hover span {
      height: 6px;
      width: 6px;
      background-color: #FFF;
      border-radius: 50px;
  }
  body:not(.is-mobile):not(.tt-ol-menu-open) .tt-ol-menu-toggle-btn:hover span::before {
      top: 0;
      width: 0;
  }
  body:not(.is-mobile):not(.tt-ol-menu-open) .tt-ol-menu-toggle-btn:hover span::after {
      bottom: 0;
      width: 0;
  }}
  
  /* Toggle button text */
  .tt-ol-menu-toggle-btn-text-wrap {
      height: 50px;
      display: flex;
      align-items: center;
      padding-top: 2px;
      padding-right: 5px;
  }
  .tt-ol-menu-toggle-btn-text {
      float: left;
      overflow: hidden;
      text-align: right;
      font-size: 20px;
    font-family: 'Sora', sans-serif;
    font-weight: 400;
      color: #FFF;
    text-shadow: 4px 0px 4px rgba(0,0,0,0.35);
  }
  
  /* Toggle button text hover */
  @media(hover:hover){
  .tt-ol-menu-toggle-btn-text .text-menu {
      position: relative;
      display: inline-block;
      text-align: right;
      transition: transform 0.3s;
  }
  body.tt-ol-menu-open .tt-ol-menu-toggle-btn-text .text-menu {
      display: none;
  }
  
  body:not(.is-mobile) .tt-ol-menu-toggle-btn-text .text-menu::before {
      position: absolute;
      top: 100%;
      right: 0;
      content: attr(data-hover);
  }
  body:not(.is-mobile) #tt-ol-menu-toggle-btn-wrap:hover .tt-ol-menu-toggle-btn-text .text-menu {
      transform: translate3d(0, -100%, 0);
  }}
  
  /* Toggle button close */
  body.tt-ol-menu-open .tt-ol-menu-toggle-btn span {
      width: 20px;
      background-color: transparent;
  }
  body.tt-ol-menu-open .tt-ol-menu-toggle-btn span::before {
      top: 0;
      width: 20px;
      transform: rotate(45deg);
  }
  body.tt-ol-menu-open .tt-ol-menu-toggle-btn span::after {
      bottom: 0;
      width: 20px;
      transform: rotate(-45deg);
  }
  
  .tt-ol-menu-toggle-btn-text .text-close {
      display: none;
  }
  body.tt-ol-menu-open .tt-ol-menu-toggle-btn-text .text-close {
      display: block;
  }

  @media(min-width:320px) and (max-width: 768px){body.tt-ol-menu-open .tt-ol-menu-toggle-btn-text .text-close{display: none;}}
  
  /* Disable menu toggle button click until the animations last */
  body.olm-toggle-no-click .tt-ol-menu-toggle-btn-text,
  body.olm-toggle-no-click .tt-ol-menu-toggle-btn {
      pointer-events: none;
  }

  
  /* ------------------------------------------------------------- *
   * END OF HEADER
  /* ------------------------------------------------------------- */
  
  /* ------------------------------------------------------------- *
   * OVERLAY MENU
  /* ------------------------------------------------------------- */
  
  /* Overlay menu 
  ================ */
  .tt-overlay-menu {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: black;
      visibility: hidden;
      opacity: 0;
      pointer-events: initial;
  }
  
  
  
  
  .tt-ol-menu-holder {
      position: relative;
      height: 100%;
      width: calc(100% + 17px);
      padding-right: 17px;
      overflow-y: scroll;
      z-index: 2;
  }
  .tt-ol-menu-inner {
      display: table;
      width: 100%;
      height: 100%;
      padding-left: 0;
      padding-right: 0;
  }
  .tt-ol-menu-content {
      position: relative;
      display: table-cell;
      vertical-align: middle;
      height: 100%;
      padding: 120px 140px 120px 25%;
  }
  @media (max-width: 965px){
  .tt-ol-menu-content {
      padding: 120px 140px 120px 15%;
  }}
  
  @media (max-width: 767px) {
      .tt-ol-menu-content {
          padding-top: 40%;
          padding-bottom: 35%;
          padding-left: 15px;
          padding-right: 15px;
      }
  }
  
  /* Disable page scroll if overlay menu is open */
  body:not(.tt-smooth-scroll).tt-ol-menu-open {
      overflow-y: hidden;
  }
  
  /* Hide smooth scrollbar if overlay menu is open */
  body.tt-smooth-scroll.tt-ol-menu-open .scrollbar-track {
      display: none !important;
  }
  
  /* Overlay menu list */
  .tt-ol-menu-list {
      display: inline-block;
      margin: 0;
      padding: 0;
      list-style: none;
  }
  .tt-ol-menu-list > li {
      position: relative;
      margin-top: 10px;
      margin-bottom: 10px;
  }
  @media (max-width: 767px) {
      .tt-ol-menu-list > li {
          margin-top: 15px;
          margin-bottom: 15px;
          margin-right: 0;
      }
  }
  
  .tt-ol-menu-list > li:last-child {
      margin-bottom: 0;
  }
  
  /* Overlay menu list links (master parent) */
  
  
  .tt-ol-menu-list {
      position: relative;
      display: inline-block;
      font-size: clamp(54px, 4vw, 68px);
    font-family: 'Sora', sans-serif;
      font-weight: 600;
      line-height: 1.2;
    
  }
  
  @media (min-width:768px) and( max-width:992px) {
    
  }
  .tt-ol-menu-list > li > a,
  .tt-ol-menu-list > li > .tt-ol-submenu-trigger > a {
    
    background-image: linear-gradient(45deg, #8500ff, #ff232b, #a8eb12, 50%, #919191 50%);
    -moz-background-size: 300% 100%;
         background-size: 300% 100%;
    background-position: -69%;
    position: relative;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  
      
    
  }
  
  /* Overlay menu list hover/active (master parent). */
  @media(hover:hover){
  .tt-ol-menu-list > li.active > a,
  .tt-ol-menu-list > li.active > .tt-ol-submenu-trigger > a,
  body:not(.is-mobile) .tt-ol-menu-list > li > a:hover,
  body:not(.is-mobile) .tt-ol-menu-list > li > .tt-ol-submenu-trigger:hover > a,
  .tt-ol-menu-list > li > .tt-ol-submenu-trigger.tt-ol-submenu-open > a {
    background-position: 0;}}
  
  /* Overlay menu social links 
  ============================= */
  .tt-ol-menu-social {
      margin: 0;
      padding: 0;
      list-style: none;
      text-align: right;
      right: calc(50% - 480px);
      z-index: 9991;
      visibility: hidden;
      opacity: 0;
    line-height: 1.7;
  }
  
  @media (max-width: 992px) {
      .tt-ol-menu-social {
          right: 20%;
      }
  }
  @media (min-width: 768px) {
      .tt-ol-menu-social {
          position: fixed;
      right: 25%;
          top: 50%;
          transform: translateY(-65%);
      }
  }
  @media (max-width: 767px) {
      .tt-ol-menu-social {
          text-align: left;
      }
  }
  .tt-ol-menu-social > li {
      padding: 3px 0;
  }
  .tt-ol-menu-social > li > a {
      font-size: 19px;
    font-family: 'Sora', sans-serif;
      font-weight: 400;
    background-image: linear-gradient(45deg, #ffffff, 50%, #919191 50%);
    -moz-background-size: 300% 100%;
         background-size: 300% 100%;
    background-position: -69%;
    position: relative;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
      
  }
  @media(hover:hover){
  .tt-ol-menu-social > li > a:hover, 
  .tt-ol-menu-social > li > a:focus {
      background-position: 0;
  }}
  
  .tt-ol-menu-social-heading {
      margin-bottom: 15px;
      font-size: 24px;
    font-family: 'Sora', sans-serif;
      font-weight: 600;
      color: #EEE;
  }
  
  /* ------------------------------------------------------------- *
   * END OF OVERLAY MENU
  /* ------------------------------------------------------------- */
  
/*PROJECT GALLERY*/

.gradient-overlay
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  background: -moz-linear-gradient(top, rgba(48, 47, 47, 0.75) 0%, rgba(122, 122, 122, 0.1) 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, .75) 0%, rgba(0, 0, 0, .1) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.603) 0%, rgba(165, 164, 164, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);
  -webkit-pointer-events: none;
     -moz-pointer-events: none;
          pointer-events: none;
}



#content {
width: 100%;
z-index: 100;
overflow: hidden;
position:relative;
height:100%;
line-height: 1.7em;
box-sizing: border-box;
}

.fluid,
#content.fluid {
padding: 0;
box-sizing: border-box;
}

.content-wrap{
padding:100px 60px 90px 60px; 
}


/* section */
.full-height {
overflow: hidden !important;
display:table;
width:100%;
height: 100vh;
background-position: top center;
background-size: cover;
box-sizing: border-box;}




.full-height .middle{
display:table-cell;
height:auto;
vertical-align:middle;
}

.full-height .center-y {
    display: table-cell;
    vertical-align: middle;
    z-index: 100;
  }

.center-y {
position: relative;}

.text-center{
text-align: center !important;
}
  

/*PROJECT TITLE*/
.h1_big{
color:#fff;	
font-family: 'Montserrat', sans-serif;
text-transform: uppercase;
margin:0;
padding:0;
font-weight:800;
text-shadow: 4px 0px 4px rgba(0,0,0,0.35);
}

h1.big,
.h1_big {
  font-size: 75px;
  margin: 0;
  line-height: 70px;
letter-spacing:normal;
}

@media (min-width:320px) and (max-width: 600px) {.h1.big, .h1_big{font-size: 40px; line-height: 40px;}}

/* PROJECT DETAILS SECTION*/
.project-details{
  padding: 40px;
  background-color: #161616;
  text-align: center;
  line-height: 2;
}


.project-objective{
  padding: 30px;
  background-color: #000;
  text-align: center;
  display: flex;
  align-items: center;
}



.container-fluid {
  padding: 0px;
  margin: 0px;
  width: 100%;
  box-sizing: border-box;
}

.sm-info span{
font-family:"sora", sans-serif;
color:#a8eb12;
display:block;
font-size:16px;
font-weight: 600;
}

.sm-info{
  color: white;
}


.row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
    box-sizing: border-box;}

.row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;}

.col-md-3{
  float: left;
  font-family: 'sora', sans-serif;
  font-weight: 400;
}

@media (min-width: 768px){
.col-md-3 {
    flex: 0 0 auto;
    width: 33.33333333%;
}}

.col-md-4{
  position: relative;
  float: left;}
@media (min-width: 768px){
  .col-md-4 {
      flex: 0 0 auto;
      width: 33.33333333%;}}

.project-objective span{
  font-family: 'Montserrat', sans-serif;
  font-size: 70px;
  font-weight: 800;
  color: white;
  opacity: .08;
  box-sizing: border-box;
  position: relative;
  top: 5px;
  bottom: 5px;
  left: -11px;}




@media (min-width:768px) {.project-objective span{top: 60px; left: -17px;}}
@media (min-width:320px) and (max-width: 600px) {.project-objective span{font-size: 40px; top: 0; bottom: 0; left: 0;}}
@media (min-width:320px) and (max-width: 768px) {.project-objective {display: block;}}
@media (min-width:991px) {.project-objective span{top: 5px; bottom: 5px; left: -11px;}}

.col-md-8{
  float: left;
  text-align: justify;
  padding-right: 200px;
  color:white;
  font-family: 'sora', sans-serif;
  font-weight: 400;
box-sizing: border-box;}

  @media (min-width: 768px){
.col-md-8 {
    flex: 0 0 auto;
    width: 66.66666667%;}}

@media (max-width:1200px) {
  .col-md-8{
    padding-right: 0px;
  }}

@media  (max-width:765px) {
  .col-md-4{
    float: none;}}

@media  (max-width:765px) {
  .col-md-4 h3{
    font-size: 40px;}} 

/* no-gutters Class Rules */
.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}


.no-padding,
section.no-padding {
  padding: 0;
}

/* ------------------------------------------------------------- *
 MOUSE ANIMATION
/* ------------------------------------------------------------- */ 
/* mouse scroll icon begin */
.scroll-down-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 20px;
  position: absolute;

}

.mouse-field {
  display: flex;
  align-items: center;
  
}

.mouse-about {
  width: 26px;
  height: 46px;
  border: 2px solid #ffffff;
  border-radius: 60px;
  position: relative;}
  .wheel{
    content: '';
    width: 6px;
    height: 6px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border-radius: 50%;
    opacity: 1;
    animation: wheel 2s infinite;
    -webkit-animation: wheel 2s infinite;
  }


@keyframes wheel {
  to {
    opacity: 0;
    top: 40px;
  }
}

@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 40px;
  }
}
/* ------------------------------------------------------------- *
END OF MOUSE ANIMATION
/* ------------------------------------------------------------- */ 

/* ------------------------------------------------------------- *
SCROLL REVEAL
/* ------------------------------------------------------------- */ 

/* ------------------------------------------------------------- *
 * END OF SCROLL REVEAL
/* ------------------------------------------------------------- */ 

/* ------------------------------------------------------------- *
 * GALLERY
/* ------------------------------------------------------------- */ 
  #gallery {padding-top: 60px;
    padding-inline: 100px;}
  
  @media (max-width:1500px) {#gallery{padding-top: 40px; padding-inline: 40px;}}
  @media (max-width:965px) {#gallery{padding-top: 40px; padding-inline: 25px;}}
  @media (min-width:320px) and (max-width:600px) {#gallery{padding-top: 40px; padding-inline: 15px;}}
  
  #gallery img, video{
    margin-bottom: 70px;
    width: 100%;
    height: auto;
  }

  @media (min-width:320px) and (max-width:965px) {#gallery img, video{margin-bottom: 20px;}}

  #gallery #iframe{
    margin-bottom: 70px;
    position:relative;}

    @media (min-width:320px) and (max-width:965px) {#gallery #iframe{margin-bottom: 20px;}}
/* ------------------------------------------------------------- *
 * END OF GALLERY
/* ------------------------------------------------------------- */ 

/* ------------------------------------------------------------- *
 * IMAGE COMPARISON SLIDER
/* ------------------------------------------------------------- */

  .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; }
  .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
  
  .custom-animated-handle {
    transition: transform 0.2s;
  }
  
  .slider-with-animated-handle:hover .custom-animated-handle {
    transform: scale(1.2);
  }
  
/* ------------------------------------------------------------- *
 * END OF IMAGE COMPARISON SLIDER
/* ------------------------------------------------------------- */

/* ------------------------------------------------------------- *
 * PREVIOUS AND NEXT PROJECT SLIDER
/* ------------------------------------------------------------- */

.tt-page-nav {
	position: relative;
}
@media (max-width: 1024px) {
	.tt-page-nav {
		text-align: center;
	}
}
@media (max-width: 1400px) {
	body.tt-boxed .tt-wrap .tt-page-nav {
		padding-left: 8%;
		padding-right: 8%;
	}
}

.tt-section-inner{
  display: inline-flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 90px;
  padding-right: 90px;
  margin-top: 30px;
  box-sizing: border-box;
}



@media  (min-width: 320px) {
  .tt-section-inner{
    padding-left: 20px;
    padding-right: 20px;
    flex-wrap: wrap;
  
  }}

  @media  (min-width: 1025px) {
    .tt-section-inner{
      padding-left: 60px;
      padding-right: 60px;
      flex-wrap: wrap;
    
    }}


/* Page nav link */
.tt-pn-link {
	position: relative;
	display: inline-flex;
	max-width: 100%;
	text-decoration: none;
	overflow: hidden;
}

/* Page nav title */
.tt-pn-title,
.tt-pn-hover-title {
	display: block;
	left: 0;
	font-size: 40px;
  font-family: 'sora', sans-serif;
  font-weight: 600;
	line-height: 1.4;
	transition: transform .5s cubic-bezier(0.51, 0.57, 0.17, 1);
}
.tt-pn-title {
	position: relative;
	color: #666;
	transform: translate3d(0, 0, 0);
}
@media (min-width: 1025px) {
	.tt-pn-title {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

@media (min-width: 320px) {
	.tt-pn-title, .tt-pn-hover-title {
    font-size: 15px;
	}
}

@media (min-width: 1025px) {
	.tt-pn-title, .tt-pn-hover-title {
    font-size: 40px;
	}
}
/* Page nav hover title */
.tt-pn-hover-title {
	position: absolute;
	max-width: 100%;
	background-image: linear-gradient(45deg, #8500ff, #ff232b, #a8eb12);
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	white-space: nowrap;
	transform: translate3d(0, 100%, 0);

	/* Ellipsis */
	overflow: hidden;
	text-overflow: ellipsis;
}
@media (max-width: 1024px) {
	.tt-pn-hover-title {
		display: none;
	}
}

/* Page nav hover */
@media (min-width: 1025px) {
	.tt-pn-link:hover .tt-pn-title {
		transform: translate3d(0, -100%, 0);
		transition-delay: 0.1s;
	}
	.tt-pn-link:hover .tt-pn-hover-title {
		transform: translate3d(0, 0, 0);
		transition-delay: 0.1s;
	}
}

/* Page nav styles 
=================== */
/* Style stroke (no effect on small screens) */
@media (min-width: 1025px) {
	.tt-page-nav.tt-pn-stroke .tt-pn-title {
		font-family: 'sora', sans-serif;
		font-weight: 600;
		opacity: .8;
		-webkit-text-stroke-width: 0.6px;
		-webkit-text-stroke-color: #FFF;
		-webkit-text-fill-color: transparent;
	}

	/* If Firefox */
	body.is-firefox .tt-page-nav.tt-pn-stroke .tt-pn-title {
		-webkit-text-stroke-width: 0.8px;
	}
}
  /* ------------------------------------------------------------- *
   * FOOTER
  /* ------------------------------------------------------------- */
  
  #tt-footer {
      position: relative;
      width: 100%;
    font-family: 'Sora', sans-serif;
    font-weight: 300;
      font-size: 14px;
      z-index: 2;
    margin-top: 30px;
  }
  
  .tt-footer-inner {
      position: relative;
  }
  
  
  #tt-footer a {
      font-size: 15px;
      color: #FFF;
  }
  
  #tt-footer .tt-btn {
      margin-top: 3px;
      margin-bottom: 3px;
  }
  
  /* Footer copyright */
  #tt-footer .tt-copyright {
    visibility: hidden;
      
  }
  
  
  @media (max-width: 995px) {
      #tt-footer .tt-copyright {
          visibility: visible;
      color: #ffffff;
      background-color: #000000;
      padding: 20px;
      }
  }
  
  /* For desktop only 
  ==================== */
  @media (min-width: 1025px) {
      #tt-footer {
          padding: 30px 0;
      }
      #tt-footer.footer-absolute {
          position: relative;
          left: 0;
      bottom: auto;
          padding: 0;
          pointer-events: none;
      }
    #tt-footer.footer-absolute-works {
          position: relative;
          left: 0;
      bottom: 30px;
          padding: 0;
          pointer-events: none;
      }
      #tt-footer.footer-absolute a {
          pointer-events: initial;
      }
    #tt-footer.footer-absolute-works a {
          pointer-events: initial;
      }
  
      .tt-footer-inner {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
      }
  
      /* Footer columns */
      .footer-col {
          flex: 1;
          padding: 0 15px;
          margin: 0 5px;
      }
      .footer-col:first-child {
          margin-left: 40px;
          padding-left: 40px;
      }
      .footer-col:last-child {
          margin-right: 50px;
          padding-right: 50px;
      }
  
  
      /* Align footer column content */
      .footer-col.tt-align-top-center {
          display: flex;
          justify-content: center;
      }
      .footer-col.tt-align-top-right {
          display: flex;
          justify-content: flex-end;
      }
  
      .footer-col.tt-align-center-left {
          display: flex;
          align-items: center;
      }
      .footer-col.tt-align-center {
          display: flex;
          align-items: center;
          justify-content: center;
      }
      .footer-col.tt-align-center-right {
          display: flex;
          align-items: center;
          justify-content: flex-end;
      }
  
      .footer-col.tt-align-bottom {
          display: flex;
          align-items: flex-end;
      }
      .footer-col.tt-align-bottom-center {
          display: flex;
          align-items: flex-end;
          justify-content: center;
      }
      .footer-col.tt-align-bottom-right {
          display: flex;
          align-items: flex-end;
          justify-content: flex-end;
      }
  
      /* Footer social */
      #tt-footer .footer-social {
          position: relative;
          line-height: 50px;
          height: 50px;
          pointer-events: auto;
          color: #FFF;
      }
      #tt-footer .footer-social:before { /* expands the hover area */
          position: absolute;
          content: "";
          top: 0;
          bottom: -30px;
          left: 0;
          right: 0;
          z-index: -1;
      }
      #tt-footer .footer-social .footer-social-text {
          display: block;
          text-align: right;
          font-size: 15px;
          cursor: pointer;
          opacity: 1;
          visibility: visible;
      }
      #tt-footer .footer-social .footer-social-text > span {
          margin-right: 13px;
      }
      #tt-footer .footer-social .social-buttons {
          opacity: 0;
          visibility: hidden;
          transform: translate3d(0, -50%, 0);
      }
      #tt-footer .footer-social .footer-social-text,
      #tt-footer .footer-social .social-buttons {
          transition: all 0.3s ease;
      }
  
      #tt-footer .footer-social:hover .footer-social-text {
          transform: translate3d(0, -50%, 0);
          opacity: 0;
          visibility: hidden;
      }
      #tt-footer .footer-social:hover .social-buttons {
          transform: translateY(-100%);
          opacity: 1;
          visibility: visible;
      }
  }
  
  /* For smaller screens only 
  ============================ */
  @media (max-width: 1024px) {

      .tt-footer-inner {
          display: flex;
          flex-direction: column;
      }
  
      /* Footer columns */
      .footer-col {
          text-align: center;
      }
  
    #contact-footer, #social-link-footer{
      display: none;
    }
  
  
      /* Order footer columns */
      .footer-col.order-m-first { order: -1; }
      .footer-col.order-m-last { order: 10; }
      .footer-col.order-m-1 { order: 1; }
      .footer-col.order-m-2 { order: 2; }
      .footer-col.order-m-3 { order: 3; }
      .footer-col.order-m-4 { order: 4; }
      .footer-col.order-m-5 { order: 5; }
      .footer-col.order-m-6 { order: 6; }
      .footer-col.order-m-7 { order: 7; }
      .footer-col.order-m-8 { order: 8; }
      .footer-col.order-m-9 { order: 9; }
      .footer-col.order-m-10 { order: 10; }
  
      /* Footer copyright */
      #tt-footer .tt-copyright .tt-btn-link {
          height: auto;
      }
  
      /* Footer social */
      #tt-footer .footer-social {
          margin-top: 10px;
          display: none;
      }
      #tt-footer .footer-social .footer-social-text {
          display: none;
      }
      #tt-footer .social-buttons > ul > li a {
          width: 34px;
          height: 34px;
      }
  }
      
  
     
  /* ------------------------------------------------------------- *
   * Social buttons
  /* ------------------------------------------------------------- */
  
  .social-buttons ul {
      display: inline-flex;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      list-style: none;
    
  }
  .social-buttons ul > li {
      display: flex;
      justify-content: center;
      align-items: center;
      float: left;
      margin: 0 2px;
    
  }
  @media (max-width: 991px) {
      .social-buttons ul > li {
          margin: 0px;
      }
  }
  .social-buttons ul > li:first-child {
      margin-left: 0;
  }
  .social-buttons ul > li:last-child {
      margin-right: 0;
  }
  
  .social-buttons > ul > li a {
      display: block;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 1;
      font-size: 15px;
      font-weight: 600;
      color: #eaeaea;
      transition: opacity 0.2s;
    outline: none;
    text-decoration: none;
  }
  
  body:not(.tt-magic-cursor) .social-buttons > ul:hover > li a {
      opacity: .5;
  }
  body:not(.tt-magic-cursor) .social-buttons > ul > li a:hover {
      opacity: 1;
  }
  
  
  /* Button link */
  .tt-btn-link {
      padding: 0;
      align-items: center;
      border-radius: 0;
  }
  .tt-btn-link > *,
  .tt-btn-link > *::after {
      padding: 0;
      line-height: 1.6;
      color: #FFF;
  }
  .tt-btn-link:hover > *,
  .tt-btn-link:hover > *::after {
      color: #FFF;
  }
      
  /* ------------------------------------------------------------- *
   * Buttons
  /* ------------------------------------------------------------- */
  
  button {
      background-color: transparent;
      cursor: pointer;
      border: none;
  }
  
  .tt-btn {
      position: relative;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      background-color: transparent;
      margin: 15px 15px 15px 0;
      padding: 0 30px;
      text-align: center;
      font-size: 16px;
      overflow: hidden;
      cursor: pointer;
      border: none;
      border-radius: 100px;
      z-index: 9;
    text-decoration: none;
  }
  .tt-btn:last-child {
      margin-right: 0;
  }
  .tt-btn > * {
      position: relative;
      color: #FFF;
      transition: transform 0.3s;
  }
  .tt-btn > *,
  .tt-btn > *::after {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      line-height: 1;
  }
  .tt-btn > *::after {
      position: absolute;
      content: attr(data-hover);
      top: 100%;
      width: 100%;
      left: 0;
      padding-left: 0;
      padding-right: 0;
  }
  .tt-btn:hover > *:not(.tt-btn-icon) {
      transform: translate3d(0, -100%, 0);
  }
  
  /* Button icon (works with "tt-btn-link" only!) */
  .tt-btn-icon {
      display: inline-flex;
  }
  .tt-btn-icon:first-child {
      margin-right: 10px;
  }
  .tt-btn-icon:last-child {
      margin-left: 10px;
  }
  
  /* ------------------------------------------------------------- *
   * END OF FOOTER
  /* ------------------------------------------------------------- */

