
/* ------------------------------------------------------------- *
 * SWIPER STYLE
/* ------------------------------------------------------------- */

/* PROJECT BG CONTAINER */
.hero-fullscreen {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: 0;
}

@media only screen and (max-width: 995px) {
  .hero-fullscreen {
    overflow: auto;
  }
}

.hero-bg {
  position: relative;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hero-bg-2 {
  position: relative;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hero-bg-2 {
  position: relative;
  width: -webkit-calc(100% - 300px);
  width: -moz-calc(100% - 300px);
  width: calc(100% - 300px);
  height: -webkit-calc(100% - 170px);
  height: -moz-calc(100% - 170px);
  height: calc(100% - 170px);
  top: 125px;
  right: 120px;
  bottom: 170px;
  left: 120px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media only screen and (max-width: 995px) {
  .hero-bg-2 {
    position: relative;
    width: 100%;
    height: 100%;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
  }
}

.hero-fullscreen-FIX {
  width: 100%;
  height: 93%;
}

@media (max-width: 1000px) {
  .hero-fullscreen-FIX {
    height: 100%;
  }
}

/* DOT PATTERN */
.dot-pattern-wrapper-home {
  position: fixed;
  display: block;
  width: 50%;
  width: 600px;
  height: -webkit-calc(100% - 400px);
  height: -moz-calc(100% - 400px);
  height: calc(100% - 400px);
  top: 220px;
  left: 0;
  bottom: 260px;
  right: auto;
  margin-left: 155px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  pointer-events: none;
  z-index: 0;
}

@media all and (min-width: 1920px) {
  .dot-pattern-wrapper-home {
    width: 600px;
  }
}

@media only screen and (max-width: 1200px) {
  .dot-pattern-wrapper-home {
    width: 450px;
    height: 400px;
    top: 320px;
    margin-left: 230px;
  }
}

@media only screen and (max-width: 995px) {
  .dot-pattern-wrapper-home {
    display: none;
    visibility: hidden;
  }
}

.dot-pattern-home {
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  background-image: radial-gradient(
    rgba(119, 119, 119, 0.55) 5%,
    transparent 0
  );
  background-size: 30px 30px;
}

/* CENTER CONTAINER */
.center-container {
    position: absolute;
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    background: none;
    z-index: 15;
    }
    
    .center-block {
    display: table-cell;
    vertical-align: middle;
    }
    
    .center-container-menu {
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
    }
    
    .center-block-menu {
    display: table-cell;
    vertical-align: middle;
    }

/* SWIPER PROJECT IMAGES */
.bg-img-1 {
  background-image: url(../img/background/isang-daang-daan-header.webp);
  }
  
  .bg-img-2 {
  background-image: url(../img/background/personal-branding-header.webp);
  }
  
  .bg-img-3 {
  background-image: url(../img/background/check-check-awwt-header.webp);
  }
  
  .bg-img-4 {
  background-image: url(../img/background/quick-bites-header.webp);
  }
  
  .bg-img-5{
  background-image: url(../img/background/level-up-header.webp);
  }
  
  .bg-img-6 {
  background-image: url(../img/background/Better-Header.webp);
  }
  
  .bg-img-7 {
  background-image: url(../img/background/lucius-header.webp);
  }
  
  .bg-img-8 {
  background-image: url(../img/background/marist-ultimate-header.webp);
  }
  
  .bg-img-9 {
  background-image: url(../img/background/social-media-header.webp);
  }
  

/* SWIPER STYLE AND CONTROLS */
.hero-slider-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.hero-slider-wrapper-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 300px;
  z-index: 1;
}

@media only screen and (max-width: 995px) {
  .hero-slider-wrapper-img {
    left: 0;
  }
}

.hero-slider-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 1;
}

.swiper-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.hero-slider-img .swiper-slide {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.swiper-slide-txt {
  position: relative;
  width: 100% !important;
  padding: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

@media only screen and (max-width: 995px) {
  .swiper-slide-txt {
    left: 0;
  }
}

.swiper-slide-txt-inner {
  position: relative;
  max-width: 650px;
}

@media only screen and (max-width: 995px) {
  .swiper-slide-txt-inner {
    max-width: 100%;
  }
}

.hero-slider-bg-controls {
  position: absolute;
  left: 103px;
  bottom: 0;
  z-index: 10;
}

@media only screen and (max-width: 995px) {
  .swiper-slide-controls.slide-prev,
  .swiper-slide-controls.slide-next {
    display: none;
    visibility: hidden;
  }
}

.swiper-slide-controls {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  font-size: 30px;
  color: #fff;
  background: #111113;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.swiper-slide-controls.slide-prev,
.swiper-slide-controls.slide-next {
  position: relative;
  width: 50px !important;
  left: 63px;
  right: 0;
  margin-left: auto;
  margin-right: 10px;
  text-align: center;
}

.swiper-slide-controls:hover {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background: #ffffff;
  color: #000;
}

.gallery {
  position: absolute;
  bottom: 0;
  left: -7px;
 width: 53px;
 height: 50px;
  border-radius: 0;
  border: none;
  outline: none;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  font-size: 30px;
  color: #fff;
  background: #111113;
  cursor: pointer;
  z-index: 10;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.btn.gallery:focus {
  outline: none;
  box-shadow: none;
}

@media only screen and (max-width: 995px) {
  .gallery {
    left: -80px;
    bottom: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .gallery {
    left: -80px;
    bottom: 30px;
  }
}

.gallery:hover {
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  background: #ffffff;
  color: #000;
}

.swiper-slide-pagination {
  position: absolute;
  width: 8px;
  right: 26px;
  bottom: 14px;
  z-index: 10;
}

@media only screen and (max-width: 1200px) {
  .swiper-slide-pagination {
    right: 46px;
    bottom: 34px;
  }
}

@media only screen and (max-width: 768px) {
  .swiper-slide-pagination {
    right: 36px;
    bottom: 24px;
  }
}

.swiper-slide-pagination::before {
  content: "";
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
  bottom: -50px;
  background: none;
}

.swiper-slide-pagination .swiper-pagination-bullet {
  position: relative;
  width: 100%;
  height: 6px;
  background: none;
  opacity: 1;
  -moz-opacity: 1;
  -webkit-opacity: 1;
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.swiper-slide-pagination .swiper-pagination-bullet:last-child {
  margin-bottom: 0;
}

.swiper-slide-pagination .swiper-pagination-bullet::before,
.swiper-slide-pagination .swiper-pagination-bullet::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  top: 0;
  left: 50%;
  background: rgba(255, 255, 255, 0.123);
  margin: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

.swiper-slide-pagination .swiper-pagination-bullet::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  top: 50%;
  left: 50%;
  margin: -4px 0 0 -1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}

.swiper-slide-pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active::after {
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -webkit-transform: scale(1.8);
  -moz-transform: scale(1.8);
  -ms-transform: scale(1.8);
  -o-transform: scale(1.8);
  transform: scale(1.8);
  background: #ffffff;
}

/* GRADIENT OVERLAY ABOVE BG IMAGE */

.gradient-overlay-home {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -moz-linear-gradient(
    top,
    rgba(48, 47, 47, 0.75) 0%,
    rgba(122, 122, 122, 0.1) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0.1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.404) 0%,
    rgba(165, 164, 164, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  pointer-events: none;
  z-index: 10;
}

/* PROJECT NUMBER */
h1.project-no,
h1.project-no span {
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 45px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 8px;
  color: #fff;
  margin: 25px -6px;
  width: 100%;
  line-height: 100%;
  position: relative;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

@media only screen and (max-width: 1200px) {
  h1.project-no,
  h1.project-no span {
    font-size: 35px;
    margin: 20px -5px;
  }
}

@media only screen and (max-width: 995px) {
  h1.project-no,
  h1.project-no span {
    font-size: 25px;
    margin: 15px -2px;
  }
}

@media only screen and (max-width: 768px) {
  h1.project-no,
  h1.project-no span {
    font-size: 20px;
    margin: 10px -2px;
  }
}

/* PROJECT TITLE */
h1.main-title,
h1.main-title span {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 75px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: normal;
color: white;  
  margin: 0 auto -6px auto;
  width: 100%;
  line-height: 100%;
  position: relative;
  z-index: 1;
  text-shadow: 3px 2px 5px rgba(10, 10, 10, 0.65);
}

@media only screen and (max-width: 1200px) {
  h1.main-title,
  h1.main-title span {
    font-size: 65px;
    margin: 0 auto -5px auto;
  }
}

@media only screen and (max-width: 995px) {
  h1.main-title,
  h1.main-title span {
    font-size: 65px;
    margin: 0 auto -2px auto;
  }
}

@media only screen and (max-width: 768px) {
  h1.main-title,
  h1.main-title span {
    font-size: 60px;
    margin: 0 auto -2px auto;
  }
}

@media only screen and (min-width: 300px) and (max-width: 450px) {
  h1.main-title,
  h1.main-title span {
    font-size: 40px;
    margin: 0 auto -2px auto;
  }
}

/* PROJECT TYPE TEXT*/
.section-txt {
  margin: -2px 0 0 0;
}

.section-txt-2 {
  margin: 2px 0 2px 0;
  line-height: 1;
}

h1.section-header {
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  text-align: left;
  text-transform: none;
  color: #fff;
  margin: -6px 0 -3px 0;
  width: 100%;
  line-height: 7;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

@media all and (min-width: 1920px) {
  h1.section-header {
    font-size: 20px;
    margin: -10px 0 -5px 0;
  }
}

@media only screen and (max-width: 768px) {
  h1.section-header {
    font-size: 15px;
    margin: -5px 0 -2px 0;
    line-height: 6;
  }
}

h1.section-header.section-header-home {
  text-align: center;
  margin: -6px auto -3px auto;
  color: rgb(255, 255, 255);
}

@media all and (min-width: 1920px) {
  h1.section-header.section-header-home {
    margin: -10px auto -5px auto;
  }
}

@media only screen and (max-width: 768px) {
  h1.section-header.section-header-home {
    margin: -5px auto -2px auto;
  }
}

h1.section-header.section-header-post {
  font-size: 30px;
  margin: -7px 0 -4px 0;
}


.view-project {
  margin:-6px auto -3px auto;
  width: 220px;
  --height: 45px;
  border: 0;
  position: relative;
  min-width: var(--width);
  min-height: var(--height);
  border-radius: 15px;
  background: linear-gradient(45deg, rgba(127,90,240,1), rgb(78, 2, 255));
  cursor: pointer;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  }

  

  @media (max-width:350px) {
   .view-project{ width: 195px;}
  }


.view-project .text, .view-project .icon-container {
  position: relative;
  z-index: 2;
}

.text{
 font-family: 'Montserrat', sans-serif;
 font-weight: 800;
 font-size: 13px;
 letter-spacing: 1px;
 text-transform: uppercase;
 color: #000000;
 right: 5px;
 transition: all 500ms ease;
}

.view-project .icon-container {
 font-size: 20px;
  position: relative;
  margin-left: 10px;
  top: -11px;
  transition: transform 500ms ease;
}
.view-project .icon-container .icon {
  position: absolute;
  left: 0;
  top: 0;
  width: var(--icon-size);
  height: var(--icon-size);
  transition: transform 500ms ease, opacity 250ms ease;
}
.view-project .icon-container .icon--left {
  transform: translateX(-200%);
  opacity: 0;
}
.fa-arrow-right{
  width: 100%;
  height: 100%;
  color: #000000;
}
.view-project::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
 
  background-color: #ffffff;
  border-radius: 15px;
  z-index: 1;
  transition: transform 500ms ease;
}

@media (hover:hover) {
 
.view-project:hover .text{
 right: 15px;
 color: white;
}

.view-project:hover::after {
  transform: translateX(78%);

}
.view-project:hover .icon-container {
  transform: translateX(125%);
}
.view-project:hover .icon-container .icon--left {
  transform: translateX(85%);
  opacity: 1;
}
.view-project:hover .icon-container .icon--right {
  transform: translateX(200%);
  opacity: 0;
}

}


/* ------------------------------------------------------------- *
 * END OF SWIPER STYLE
/* ------------------------------------------------------------- */



